.nav-link {
  transition: color 0.3s, text-shadow 0.3s;
}

.nav-link:hover {
  color: rgb(255, 0, 0) !important;
  text-shadow: 0 0 0px red, 0 0 0px red, 0 0 0px red; 
}

.transition-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.transition-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-card {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, rgb(0, 0, 0), red, blue, orange);
  animation: glowing 1s infinite;
}

@keyframes glowing {
  0% {
    border-color: rgb(21, 0, 255);
    box-shadow: 0 0 3px rgb(0, 26, 255);
    border-radius: 7px;
  }
  50% {
    border-color: rgb(255, 0, 0);
    box-shadow: 0 0 2px rgb(255, 0, 0);
    border-radius: 7px;
  }
  100% {
    border-color: rgb(0, 34, 255);
    box-shadow: 0 0 1px rgb(0, 34, 255);
    border-radius: 7px;
    
  }
}
.custom-carousel-item {
  height: 75vh; 
}

.custom-carousel-item img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .custom-carousel-item {
    height: 50vh;
  }
}

@media (max-width: 576px) {
  .custom-carousel-item {
    height: 40vh; /* Adjust the height as needed for extra small screens */
  }
}

